@import '../styles/colors.scss';
.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
   &__primary {
     color: $white;
     background-color: $primary-dark;
     font-weight: 800;
     font-size: 0.8rem;
     &:hover,&:focus {
       background-color: $primary-light;
     }
   }
   &__terciary{
     background-color: transparent;
     color: $primary-dark;
   }
   &__secundary{
     background-color: $success;
     border-radius: 16px;
     font-size: 0.6rem;
     font-weight: bold;
     padding: 4px 12px;
     color: $white;
     border-color: $success;
     &:hover,&:focus {
       background-color: $success;
     }
   }
   &__disable{
     background-color: $background;
     &:hover,&:focus{
       background-color: $grey;
     }
   }
   &__container{
     display: flex;
     justify-content: flex-end;
   }

}
