@import '../styles/colors.scss';
.CardPlan{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    &__item {
        width: 98px;
        border-radius: 10px;
        padding: 6px 10px 0 14px;
        display: flex;
        flex-direction: column;
        font-size: 0.6rem;
        font-weight: 600;
        border: 2px solid $gray-light;
        color: $grey;
        height: 100px;
        cursor: pointer;
        &.active{
            border: 2px solid $success;
            & .CardPlan__check{
                content: url('../static/images/gl_correct.png');
                border: 2px solid $success;
            }
        }
    }
    &__check{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #E7E9EB;
        display: flex;
        &.active{
            content: url('../static/images/gl_correct.png');
        }
    }
    &__mount{
        font-weight: bold;
        font-size: 1.4rem;
        color: $black;
    }
    &__img{
        display: flex;
    justify-content: flex-end;
    }
    &__container{
        cursor: pointer;
        text-decoration: none;
    }
}