@import '../styles/colors.scss';
.CardBenefits{
    width: 100%;
    border: 2px solid $gray-light;
    border-radius: 10px;
    margin-bottom: 3rem;
    &__open{
        display: block;
        color:#444;
        font-weight: normal;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            text-decoration: none;
        }
    }
    &__title{
        margin-bottom: 2.5rem;
        font-size: 1.4rem;
    }
    &__header {
        background-color: $gray-light;
        padding: 0.8rem;
        text-align: center;
        font-weight: bolder;
        font-size: 0.9rem;
    }
    &__content {
        align-items: center;
        border-bottom: 2px solid $gray-light;
        margin: 0 2.3rem;
        margin-top: 1rem;
        padding-bottom: 1.5rem;
        display: flex;
        margin-bottom: 2rem;
    }
    &__principal {
        width: 70%;
        border-right: 2px solid $gray-light;
    }
    &__secundary {
        width: 30%;
        padding: 1rem;
    }
    &__img{
        width: 96px;
        padding: 0.8rem;
        background-image: url('../static/images/Illustration.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 79px;
    }
    &__items {
        list-style: none;
    }
    &__item {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        & span{
            font-size: 0.8rem;
        }
        & .Ico__heart{
            margin-right: 1rem;
        }
        &.disable{
            text-decoration: line-through;
            color: $gray-light;
            font-size: 1rem;
        }
    }
    &__accordeon-block {
        padding: 1.5rem 0;
        font-weight: 600;
        border-top: 2px solid $gray-light;
        /* border-bottom: 2px solid $gray-light; */
    }
    &__accordeon-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span, span:hover, span:focus{
            color:#444;
            font-weight: normal;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__accordeon-description {
        margin-top: 2rem;
    }
    &__accordeon {
        margin-bottom: 3rem;
    }
    &__accordeon-buttons{
        display: flex;
    }
}