.Ico {
  &__shield {
    content: url("../static/images/gl_shield-20x20.png");
    width: 25px;
  }
  &__mobile {
    content: url("../static/images/gl_mobile-20x20.png");
    width: 25px;
  }
  &__check {
    content: url("../static/images/gl_correct.png");
    width: 25px;
  }
  &__heart{
	content: url("../static/images/heart-blue.png");
	width: 16px; 
	&--grey{
		content: url("../static/images/heart-grey.png");
	}
  }
  &__arrowdown {
    width: 16px;
    height: 14px;
		content: url("../static/images/down-chevron.png");
   }

}
