@import '../styles/colors.scss';

.Input {
    display: block;
    width: 100%;
    padding: .8rem .75rem;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #4d95ed;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
  }
  
  [type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
  }


  input[type=checkbox]:checked + label:before,
   .form-check-input:checked,
   .form-check-input:checked[type=checkbox] {
    background-color: $success;
    border-color: $success;
    color: #fff;
  }