.Layout {
  &__sidebar {
    grid-area: sidebar;
    height: 800px;
  }
  &__block{
    margin-left: 2rem;
  }
  &__content {
    grid-area: content;
    position: relative;
    height: 800px;
  }
  &__wrapper {
    height: 100%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "sidebar content ";
    background-color: #fff;
    color: #444;
    grid-template-rows: 100% 100%;
    grid-template-rows: auto auto;
    &--outer{
      grid-template-columns: 20% 80%;
    }
  }
}
