@import "../../styles/colors.scss";

.PanelSidebar {
/*  left: 0;
  top: 0;
  bottom: 0;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 22.5px;
  overflow-y: auto;
  transition: 0.5s;*/
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 12px;
  }
  &__on {
    position: fixed;
    z-index: 99999;
    display: flex;
    width: 250px;
    background-color: $white;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  }
  &__links {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0;
  }
  &__links-footer {
    margin: 0;
    padding-left: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 15px;
    color: $gray_600;
    transition: 0.25s;
    cursor: pointer;
    &.active,
    &:hover {
      color: $primary;
      font-weight: bold;
      path {
        fill: $primary;
      }
    }
  }
  &__link-lg {
    display: none;
  }
  &__link-icon {
    display: inline-block;
    width: 15px;
    path {
      transition: 0.5s;
      fill: $gray_300;
    }
  }
  &__link-text {
    margin-left: 7.5px;
  }
}

@media screen and (max-width: 768px) {
}
