 @import '../../styles/colors.scss';

.Panel {
    width: 100%;
    height: 100vh;
    transition: .25s;
  &__PanelMain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    overflow-y: auto;
  }
  &__PanelMain-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }
  &__PanelMain-header-logo {
    display: flex;
    align-items: flex-end;
    padding-right: 30px;
    align-items: center;
  }
  &__PanelMain-header-icon {
    width: 15px;
    margin-right: 10px;
    path {
      fill: $gray_700;
    }
    &.darker path {
      fill: #fff;
    }
  }
  .Panel-section {
    margin: 20px 0;
  }
  .Panel-section-header {
    margin-bottom: 0;
    font-size: 16px;
  }
  .Panel-section-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  .Panel-section-list-multiblock {
    flex-wrap: wrap;
  }
  .Panel-tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }
  .Panel-section-class {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .Panel-notifications {
    padding: 20px 0;
  }
  .Panel-notifications-more {
    display: flex;
    padding: 10px;
    justify-content: center;
    color: $gray_200;
    font-size: 13px;
    text-transform: uppercase;
  }
}
  