@import '../styles/colors.scss';

.ProductBanner {
    color: $white;
    padding: 4rem 10rem;
    position: relative;
    background: transparent;
    z-index: 9;
    height: 800px;
    background-color: $primary-dark;
    margin-right: 6rem;
    &__background {
        &::before {
            content: '';
            background-image: url(../static/images/Base.png);
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            width: 400px;
            height: 800px;
            z-index: -1;
            top: 0;
            right: -107px;
        }

        &::after {
            content: '';
            background-image: url("../static/images/Illustration-1.png");
            background-repeat: no-repeat;
            position: absolute;
            background-size: 395px 555px;
            width: 368px;
            height: 599px;
            z-index: -1;
            right: -249px;
            top: 172px;
        }

        &--outer {
            &::before {
                width: 400px;
                height: 678px;
                z-index: -1;
                top: 0;
                right: -165px;
            }

            &::after {
                background-size: 297px 401px;
                width: 271px;
                height: 381px;
                z-index: -1;
                right: -159px;
                top: 100px;
            }
        }
    }

    &__list {
        margin-top: 0;
        list-style: none;
        width: 100%;
        margin-bottom: 10rem;
        padding-left: 0;
    }

    &__list-item {
        margin-bottom: 2rem;
        display: flex;
        align-items: end;

        & .Ico {
            margin-right: 0.5rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &__footer {
        font-size: 0.8rem;
        color: $gray-light;
    }

    &--outer {
        height: 550px;
        padding-right: 2rem;
    }
}
