.Register {
  margin: auto;
  &__step-0 {
    padding: 9rem 0rem;
    width: 350px;
    & .Typografy__secundary{
        margin-bottom: 0.5rem;
    }
    & .Typografy__terciary{
        margin-bottom: 2rem;
    }
  }
  &__step-1 {
    padding: 4rem 2rem;
    width: 450px;
    & .Typografy__secundary{
      margin-bottom: 0;
    }
  }
  &__step-2 {
    padding: 4rem 2rem;
    width: 530px;
    & .Typografy__secundary{
      margin-bottom: 0;
    }
  }
  &__step-end{
    width: 450px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__form{
    max-width: 370px;
    margin-bottom: 3rem;
  }
  & .Input{
      margin-bottom: 1.2rem;
  }
  &__politics{
    margin-bottom: 3rem;
  }
  &__politics-item{    
    position: relative;
    padding-left: 21px;
      margin-bottom: 1rem;
      & label{
        font-size: 0.8rem;
        text-indent: 0;
        
      }

  }
  &__form-select{
    margin-bottom: 1rem;
  }
  &__confirmation{
    padding-top: 2rem;
    border-top: 1.5px solid #E7E9EB;
  }
}
