@import '../styles/colors.scss';

.Step{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
    font-size: 0.8rem;
    cursor: pointer;
    &__button{
        background-image: url('../static/images/left-arrow.png');
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #2F80ED;
        border: 1px solid #4d95ed;
        margin-right: 10px;
        display: block;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
    }
}