.Typografy{
    &__principal {
        font-size: 52px;
        font-weight: normal;
    }
    &__secundary{
        font-size: 36px;
        font-weight: normal;  
    }
    &__terciary{
        font-size: 1.2rem;
        font-weight: normal;  
    }
}