$primary: #3098F2;
$primary-light: #4d95ed;
$primary-dark: #2F80ED;


$success: #84BF5A;
$success-light: #DAF2C9;
$success-dark: #32B34A;

$black: #060609;

$grey: #4c4c64;
$gray-light: #d6dbed;

$white: #ffffff;

$background: #E7E9EB;

.Color{
    &__primary{
        color: #2F80ED; 
    }
    &__secundary{
        color: #d6dbed
    }
}