@import '../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');
.Container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
  }
  body{
    font-family: 'M PLUS 1p', sans-serif !important;

    font-size: 1rem;
    margin: 0;
    color: $white;
  }
   h1,h2,h3,h4,ul{
     margin-top: 0;
   }
  /*# sourceMappingURL=general.css.map */
  button {
    border-radius: 0;
  }
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
  /*   width: 9%; */
    box-sizing: border-box;
    padding: 0;
  }
  
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    -webkit-appearance: listbox;
  }

  .margin-sm{
    margin-bottom: 2rem;
  }


  figure {
    margin: 0 0 1rem;
  }
  
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  a{
    color: $primary-dark;
    text-decoration: none;
    &:hover,&:focus{
        color: $primary;
    }
  }